In [ ]:
import pandas as pd
import numpy as np

/var/folders/m9/nskhz35n09b2_r2sw4dg_kxm0000gn/T/ipykernel_97085/547339637.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Colab_Notebooks/CiC_project/clinician_labels')
os.getcwd()

'/Users/aronsyversen/Desktop/saved_df'

In [ ]:
#for each xlsx file in the directory, open the file and open it as a dataframe with the same name:
for file in os.listdir():
    if file.endswith('.xlsx'):
        name = file.split('.')[0]
        globals()[name] = pd.read_excel(file)

In [ ]:
#make a dataframe with 4 rows and columns called final df:
HR_df = pd.DataFrame(np.nan, index=range(4), columns=range(4))

#for the dataframe called HR_SQI take the first row and then loop over the first row in HR_CRIT and count the number of equal value and add this to the first value in the final_df, repeat this for the second row in HR_CRIT
for i in range(4):
    for j in range(4):
        HR_df.iloc[i,j] = (HR_SQI.iloc[j] == HR_CRIT.iloc[i]).sum()
HR_df

     0    1    2    3
0  3.0  2.0  3.0  4.0
1  1.0  4.0  3.0  2.0
2  3.0  2.0  3.0  4.0
3  3.0  2.0  3.0  4.0

In [ ]:
#make a dataframe with 4 rows and columns called final df:
WN_df = pd.DataFrame(np.nan, index=range(4), columns=range(4))

#for the dataframe called HR_SQI take the first row and then loop over the first row in HR_CRIT and count the number of equal value and add this to the first value in the final_df, repeat this for the second row in HR_CRIT
for i in range(4):
    for j in range(4):
        WN_df.iloc[i,j] = (WN_SQI.iloc[j] == WN_CRIT.iloc[i]).sum()
WN_d

     0    1    2    3
0  4.0  2.0  1.0  3.0
1  4.0  2.0  1.0  3.0
2  3.0  1.0  0.0  2.0
3  3.0  1.0  0.0  2.0

In [ ]:
#make a dataframe with 4 rows and columns called final df:
PLI_df = pd.DataFrame(np.nan, index=range(4), columns=range(4))

#for the dataframe called HR_SQI take the first row and then loop over the first row in HR_CRIT and count the number of equal value and add this to the first value in the final_df, repeat this for the second row in HR_CRIT
for i in range(4):
    for j in range(4):
        PLI_df.iloc[i,j] = (PLI_SQI.iloc[j] == PLI_CRIT.iloc[i]).sum()
PLI_df

     0    1    2    3
0  2.0  1.0  4.0  4.0
1  2.0  1.0  4.0  4.0
2  3.0  4.0  1.0  1.0
3  3.0  4.0  1.0  1.0

In [ ]:
#make a dataframe with 4 rows and columns called final df:
MA_df = pd.DataFrame(np.nan, index=range(4), columns=range(4))

#for the dataframe called HR_SQI take the first row and then loop over the first row in HR_CRIT and count the number of equal value and add this to the first value in the final_df, repeat this for the second row in HR_CRIT
for i in range(4):
    for j in range(4):
        MA_df.iloc[i,j] = (MA_SQI.iloc[j] == MA_CRIT.iloc[i]).sum()
MA_df

     0    1    2    3
0  3.0  4.0  4.0  4.0
1  3.0  4.0  4.0  4.0
2  1.0  0.0  0.0  0.0
3  1.0  0.0  0.0  0.0

In [ ]:
#add the 4 dataframes together:
final_df = HR_df + WN_df + PLI_df + MA_df
final_df

      0     1     2     3
0  12.0   9.0  12.0  15.0
1  10.0  11.0  12.0  13.0
2  10.0   7.0   4.0   7.0
3  10.0   7.0   4.0   7.0